---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>kv corp</title>
	</head>
	<body>
		<h1>Muhammad Kahvi Khakam Syah</h1>
		<p>Hallo My name is Kahvi, currently I have wonderful relationship with a girl named Susi Sri Handayani. She is so wonderful<p>
	</body>
</html>
